*{
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  /* --background-color: #024873; */
  --background-color: linear-gradient(to bottom right, #024873 36%, #DC150A) !important;
  --title-color: #fff;
  --subtitle-color: #dddcdc;
  --paragraph-color: #fff;
  --scroll-button-color: #fff;
  --background-social-media: #0000003c;
  --background-scroll-button: #007bff;
  /* Colors */
  --main-color: #3498db;        /* Main color */ /* this can be changed for the BG color */
  --secondary-color: #2ecc71;   /* Secondary color */ /* this must be assigned */
  
  /* Text Styles */
  --title-font-size: 3.5rem;      /* Title font size */
  --subtitle-font-size: 2rem; /* Subtitle font size */
  --paragraph-font-size: 1.6rem;  /* Paragraph font size */
  --font-family: 'Your Preferred Font', sans-serif;


  /* Shadows */
  --box-shadow-light: 2px 2px 6px rgba(0, 0, 0, 0.1);    /* Light box shadow */
  --box-shadow-medium: 2px 4px 8px rgba(0, 0, 0, 0.3);   /* Medium box shadow */
  --box-shadow-heavy: 2px 6px 10px rgba(0, 0, 0, 0.7);   /* Heavy box shadow */

  /* validation colors */
  --valid-color: #2ecc71;
  --invalid-color: #e74c3c;

  /* breakpoints */
  --mobile-breakpoint: 576px;
  --tablet-breakpoint: 768px;
  --desktop-breakpoint: 992px;
}

body{
  background: var(--background-color);
  overflow-x: hidden;
}
/* SCROLL UP BUTTON */
.scroll-container {
  transition: all 1s ease-in-out;
}
.scroll-up-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 2.4rem;
  background-color: transparent;
  color: var(--scroll-button-color);
  border: none;
  border-radius: 3rem;
  padding: 2rem;
  cursor: pointer;
  transition: 0.2s;
}
.scroll-up-button.visible {
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-up-button:hover{
  transform: scale(1.07);
}
.scroll-arrow{
  margin-top: 4rem;
  margin-right: -2rem;
  font-size: 3rem;
}
.scroll-image{
  width: 8rem;
  filter: drop-shadow(0px 5px 6px rgba(0, 0, 0));
}
/* NAVBAR */
.menu-logo {
  width: 6rem;
  margin-left: 10%;
  margin-right: 1rem;
}
.links {
  margin-left: 1rem;
  font-size: 5rem;
}
.bg-body-tertiary.navbar {
  padding: 1rem;
}
.inicio-first-element {
  margin-left: 10rem !important;
}
.home-container{
  display: grid;
  grid-template-areas: 
    'logo logo information information'
    'logo logo icons icons'
  ;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-content: center;
}
.logo-container{
  grid-area: logo;
  width: 100%;
}
.logo{
  filter: drop-shadow(0px 5px 15px rgba(225, 225, 225, 0.9));
  width: 60rem;
  margin-left: 8rem;
  padding: 1rem;
}
.home-information-text{
  display: grid;
  grid-area: information;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-content: end;
  margin-right: 10rem;
  padding-right: 10rem;
}
.home-title{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color: var(--title-color);
  font-size: 7rem;
}
.home-subtitle{
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: var(--subtitle-color);
  font-size: 4rem;
}
.icons-container{
  display: flex;
  grid-area: icons;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10rem;
  margin-right: 10rem;
  padding-right: 10rem;
}
.social-media-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  list-style: none;
  padding: 3rem;
  background-color: var(--background-social-media);
  border-radius: 2rem;
  box-shadow: 0px 5px 15px rgba(225, 225, 225, 0.9);
}
.logo-instagram, .logo-tiktok,
.logo-facebook, .logo-youtube{
  width: 5rem;
  transition: transform 0.3s;
}
.logo-instagram:hover, .logo-tiktok:hover,
.logo-facebook:hover, .logo-youtube:hover{
  transform: scale(1.25);
}

/* About component starts here */
.map__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0;
  gap: 3rem;

}
.map {
  display: block;
  margin: 0 auto;
  width: 80rem;
  height: 30rem;
  flex-basis: 45%;
  box-shadow: var(--box-shadow-light);
}
.subtitle.header__map-subtitle {
  margin-top: -3rem;
}
.map__subtitle {
  color: var(--subtitle-color);
  margin-top: 2rem;
  font-size: 5rem;
  flex-basis: 45%;
}
.about__text-container {
  width: 80%;
  display: block;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 6rem;
}
.title {
  font-family: 'Poppins', sans-serif;
  font-size: var(--title-font-size);
  color: var(--title-color);
  margin-bottom: 3rem;
  margin-top: 1rem;
}
.subtitle {
  font-family: 'Lato', sans-serif;
  font-size: var(--subtitle-font-size);
  color: var(--subtitle-color);
  position: relative;
  margin-bottom: 8rem;
  margin-top: 8rem;
}
.subtitle::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.103);
  width: 100%;
  height: 100%;
  position: absolute;
  right: calc(100% + 1rem);
}
.subtitle::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.103);
  width: 2000px;
  height: 100%;
  position: absolute;
  left: calc(30% + 1rem);
}
.paragraph {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem 4rem;
  margin: 5rem 0 5rem 0;
  border-radius: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-size: var(--paragraph-font-size);
  color: var(--paragraph-color);
  line-height: 1.8;
  text-align: justify;
  text-justify: inter-word;
}
.sections__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  gap: 7rem;
  margin-bottom: 5rem;
}
.about__img {
  width: 25rem;
  flex-basis: 40%;
  box-shadow: var(--box-shadow-heavy);
}
.paragraph {
  flex-basis: 50%;
}
/* About component ends here */

/* WorkWithUs component starts here */
.workWithUs-container {
  width: 60%;
  margin: 0 auto;
  margin-top: 10rem;
}
/* WorkWithUs component ends here */