
*{
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  --background-color: linear-gradient(to bottom right, #024873 36%, #DC150A);
  --title-color: #fff;
  --subtitle-color: #dddcdc;
  --paragraph-color: #fff;
  --scroll-button-color: #fff;
  --background-social-media: #0000003c;
  --background-scroll-button: #007bff;
  --footer-background-color: #00000026;
  /* Colors */
  --main-color: #3498db;        /* Main color */ /* this can be changed for the BG color */
  --secondary-color: #2ecc71;   /* Secondary color */ /* this must be assigned */
  
  /* Text Styles */
  --title-font-size: 3.5rem;      /* Title font size */
  --subtitle-font-size: 2rem; /* Subtitle font size */
  --paragraph-font-size: 1.6rem;  /* Paragraph font size */
  --font-family: 'Your Preferred Font', sans-serif;


  /* Shadows */
  --box-shadow-light: 2px 2px 6px rgba(0, 0, 0, 0.1);    /* Light box shadow */
  --box-shadow-medium: 2px 4px 8px rgba(0, 0, 0, 0.3);   /* Medium box shadow */
  --box-shadow-heavy: 2px 6px 10px rgba(0, 0, 0, 0.7);   /* Heavy box shadow */

  /* validation colors */
  --valid-color: #2ecc71;
  --invalid-color: #e74c3c;

  /* breakpoints */
  --mobile-breakpoint: 576px;
  --tablet-breakpoint: 768px;
  --desktop-breakpoint: 992px;
}
body{
  background: var(--background-color);
  /* overflow-x: hidden; */
}
/* SCROLL UP BUTTON */
.scroll-container {
  transition: all 1s ease-in-out;
}
.scroll-up-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: -5px;
  font-size: 2.4rem;
  background-color: transparent;
  color: var(--scroll-button-color);
  border: none;
  border-radius: 3rem;
  padding: 2rem;
  cursor: pointer;
  transition: 0.2s;
}
.scroll-up-button.visible {
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-up-button:hover{
  transform: scale(1.07);
}
.scroll-arrow{
  margin-top: 4rem;
  margin-right: -2rem;
  font-size: 3rem;
}
.scroll-image{
  width: 8rem;
  filter: drop-shadow(0px 5px 6px #000);
}

/* CONTACT BUTTON */
.contact-button-container {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}
.contact-button{
  filter: drop-shadow(0px 4px 10px #fff);
  background: transparent;
  color: #fff;
  font-family: var(--font-family);
  border: none;
  border-radius: 100%;
  font-size: 1.4rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  transition: 0.2s;
}
.contact-button:hover{
  transform: scale(1.07);
}
.contact-button-icon{
  width: 6rem;
  margin-bottom: 0.6rem;
}
.contact-button-text{
  color: #fff;
}
.social-buttons{
  position: absolute;
  top: -10.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding-left: 1rem;
}
.social-buttons button{
  background: transparent;
  border: none;
  cursor: pointer;
  width: 5rem;
  margin-bottom: 0.5rem;
}
.contact-icons{
  max-width: 4rem;
}
/* NAVBAR */
.menu-logo {
  width: 6rem;
  margin-left: 10%;
  margin-right: 1rem;
}
.links {
  margin-left: 1rem;
  font-size: 5rem;
}
.bg-body-tertiary.navbar {
  padding: 1rem;
}
.inicio-first-element {
  margin-left: 10rem !important;
}

/* HOME */
.home-container{
  display: grid;
  grid-template-areas: 
    'logo logo information information'
    'logo logo button button'
    'logo logo icons icons'
  ;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 3rem;
}
.logo-container{
  grid-area: logo;
  width: 100%;
}
.logo{
  filter: drop-shadow(0px 5px 15px rgba(225, 225, 225, 0.9));
  width: 70rem;
  margin-right: 3rem;
  padding: 1rem;
}
.home-information-text{
  display: grid;
  grid-area: information;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-content: end;
  margin-top: 8rem;
}
.home-title{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color: var(--title-color);
  font-size: 7rem;
}
.home-subtitle{
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: var(--subtitle-color);
  font-size: 4rem;
}
.button__container {
  display: flex;
  width: 100%;
  /* background-color: #e1531b; */
  grid-area: button;
  margin: 0 auto;
  margin-top: -2rem;
  justify-content: center;
}
.button__tickets {
  width: 30%;
  grid-area: button;
  background-color: rgb(210, 56, 22);
  color: #fff;
  border: solid 1px;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  padding: 1rem;
  font-family: var(--font-family);
  font-size: 1.6rem;
}
.ticket__popup{
  padding: 2rem;
}
.ticket__popup p{
  text-align: center;
  font-size: 1.5rem;
}
.ticket__prices{
  font-weight: lighter;
}
.ticket__info{
  font-size: 1.2rem;
}
.icons-container{
  display: flex;
  grid-area: icons;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 6rem;
}
.social-media-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  list-style: none;
  padding: 3rem;
  background-color: var(--background-social-media);
  border-radius: 2rem;
  box-shadow: 0px 5px 15px rgba(225, 225, 225, 0.9);
}
.logo-instagram, .logo-tiktok,
.logo-facebook, .logo-youtube{
  width: 5rem;
  cursor: pointer;
  transition: transform 0.3s;
}
.logo-instagram:hover, .logo-tiktok:hover,
.logo-facebook:hover, .logo-youtube:hover{
  transform: scale(1.25);
}

.separator{
  width: 100%;
  background-color: rgba(225, 225, 225, 0.9);
}
/*HOME SLIDER*/
.slider-container{
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.slider-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.slider-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

/* About component starts here */
.map__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0;
  align-items: center;
  gap: 3rem;

}
.map {
  display: block;
  margin: 0 auto;
  width: 80rem;
  height: 30rem;
  flex-basis: 45%;
  box-shadow: var(--box-shadow-light);
}
.subtitle.header__map-subtitle {
  margin-top: -3rem;
}
.map__subtitle {
  color: var(--subtitle-color);
  margin-top: 2rem;
  font-size: 5rem;
  flex-basis: 45%;
}
.about__text-container {
  width: 80%;
  display: block;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 1rem;
}
.title {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  text-align: center;
  padding: 5rem;
  color: var(--title-color);
  margin-bottom: 8rem;
  margin-top: 1rem;
}
.subtitle {
  font-family: 'Lato', sans-serif;
  font-size: var(--subtitle-font-size);
  color: var(--subtitle-color);
  position: relative;
  margin-bottom: 8rem;
  margin-top: 8rem;
}
.subtitle::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.103);
  width: 100%;
  height: 100%;
  position: absolute;
  right: calc(100% + 1rem);
}
.subtitle::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.103);
  width: calc(85% - 5rem);
  height: 100%;
  position: absolute;
  left: calc(30% + 1rem);

}
.paragraph {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem 4rem;
  margin: 5rem 0 5rem 0;
  border-radius: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-size: var(--paragraph-font-size);
  color: var(--paragraph-color);
  line-height: 1.8;
  text-align: justify;
  text-justify: inter-word;
}
.sections__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  gap: 7rem;
  margin-bottom: 5rem;
}
.about__img {
  width: 25rem;
  flex-basis: 40%;
  box-shadow: var(--box-shadow-heavy);
}
.paragraph {
  flex-basis: 50%;
}
.mision__container {
  margin-top: 0;
}
/* About component ends here */

/* WorkWithUs component starts here */
.workWithUs-container {
  width: 60%;
  margin: 0 auto;
  margin-top: 10rem;
}
/* WorkWithUs component ends here */
/* gallery section starts here */
.gallery {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  gap: 1rem;
  margin: 0 auto;
  margin-top: 2rem;
}
.gallery__img__container {  
  width: 100%;
}
.gallery__img {
  width: 100%;
}
.gallery__title {
  font-family: 'Poppins', sans-serif;
  margin-top: 10rem;
  margin-left: 3rem;
  color: white;
}
/* gallery section ends here */

/* footer section starts here */
.footer {
  margin-top: 5rem;
  margin-bottom: 0rem;
  padding: 5rem 1rem 3rem 1rem;
  color: white;
  background-color: var(--footer-background-color);
}
.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.section1 {
  flex-basis: 33%;
  text-align: center;
}
.section2 {
  flex-basis: 33%;
  text-align: center;
}
.section3 {
  flex-basis: 33%;
  text-align: center;
}
.footer__icons__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  padding: 2rem;
  transition: transform all 0.5s ease-in-out;
  -webkit-transition: transform all 0.5s ease-in-out;
  -moz-transition: transform all 0.5s ease-in-out;
  -ms-transition: transform all 0.5s ease-in-out;
  -o-transition: transform all 0.5s ease-in-out;
}
.footer__icons {
  font-size: 3rem;
  color: white;
}
.footer__icons:hover {
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
}
/* footer section ends here */
@media screen and (max-width: 1239px) {
  .button__container{
    margin: 2rem 0;
  }
  .button__tickets{
    width: 50%;
  }
}
  @media screen and (max-width: 978px) {
    .button__container {
      margin: 4rem 0 0 0;
    }
    .button__tickets{
      width: 60%;
    }
    .home-container{
      margin-top: 5rem;
    }
    .home-title{
      font-size: 4rem;
    }
    .home-subtitle{
      font-size: 2rem;
    }
    .icons-container{
      margin-top: 5rem;
    }
    .logo{
      width: 50rem;
      margin-left: 4rem;
    }
    .social-media-list{
      gap: 3rem;
      padding: 2rem;
    }
    .logo-instagram, .logo-tiktok,
    .logo-facebook, .logo-youtube{
      width: 3rem;
    }
    .about__text-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 3rem;
    }
    .subtitle {
      margin: 2rem;
      padding: 2rem;
    }
    .about__img {
      width: 60rem;
      margin: 0 auto;
    }
    .sections__container {
      width: 100%;
      padding: 0;
      margin: 0;
      gap: 1rem;
    }
    .subtitle::before {
      content: none;
    }
    .subtitle::after {
      content: none;
    }
    .paragraph {
      min-width: 100%;
      margin: 2rem auto;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 2rem;
      border-radius: 1.5rem;
      -webkit-border-radius: 1.5rem;
      -moz-border-radius: 1.5rem;
      -ms-border-radius: 1.5rem;
      -o-border-radius: 1.5rem;
    }
    .header__map-subtitle {
      width: 100%;
    }
    .map__subtitle{
      font-size: 2.5rem;
      margin-top: 10rem;
    }
    .map {
      width: 100%;
    }
}
@media screen and (max-width: 960px) {
  .inicio-first-element {
    margin-left: 1rem !important;
  }
}
@media screen and (max-width: 915px) {
  .logo{
    margin-left: 0;
    padding-left: 0;
  }
  .home-container{
    padding-right: 2rem;
  }
  
  
}
@media screen and (max-width: 815px) {
  .home-container{
    padding-right: 3rem;
  }
  .logo{
    width: 40rem;
  }
  .button__tickets{
    width: 70%;
  }
  .footer__icons__container {
    gap: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .about__img {
    width: 40rem;
  }
  .header__map-subtitle {
    margin: 0 auto;
  }
  .map__subtitle{
    width: 100%;
    font-size: 1.5rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  .map__container {
    display: block;
    margin: 0 auto;
  }
  .map {
    width: 40rem;
  }
  .workWithUs-container {
    width: 90%;
  }
}
@media screen and (max-width: 724px) {
  .home-container{
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    height: 100vh;
  }
  .logo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 8rem;
  }
  .home-information-text{
    margin-top: 0;
  }
  .button__tickets{
    width: 40%;
  }
  
}
@media screen and (max-width: 525px){
  .home-container{
    display: block;
    margin: 0 auto;
    /* height: 100vh; */
    padding: 0;
    margin-top: 12rem;
  }
  .logo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .logo{
    width: 40rem;
    margin-right: 0;
    padding: 0;
    /* padding-right: 2rem; */
  }
  .home-information-text{
    display: block;
    margin: 0 auto;
    padding: 0;
  }
  .button__tickets{
    width: 50%;
  }
  .icons-container{
    margin-right: 0;
    padding: 0;
    margin-top: 2rem;
  }
  .footer__icons {
    font-size: 2rem;
  }
  .contact-button-container {
    bottom: 15rem;
    left: 8px;
    padding: 1rem;
  }
  .scroll-up-button {
    bottom: 17rem;
    right: -15px;
  }
  .scroll-arrow{
    margin-right: -2.6rem;
    font-size: 3rem;
  }
  .footer {
    margin-top: 12rem;
  }
}
@media screen and (max-width: 420px){
  .mision__container {
    width: 95%;
  }
  .map {
    width: 100%;
  }
  .title {
    font-size: 2rem;
  }
  .about__img {
    width: 100%;
  }
}
@media screen and (max-width: 376px){
  #root {
    width: 320px;
  }
  .home-container{
    width: 387px;
    /* background-color: #000; */
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    height: 100vh;
    /* padding-right: 2rem; */
  }
  .logo{
    width: 25rem;
    margin: 0;
    margin-top: 1rem;
    padding-bottom: 0;
  }
  .home-title{
    font-size: 3rem;
  }
  .home-subtitle{
    font-size: 1.6rem;
  }
  .button__container{
    margin-top: 2rem;
  }
  .button__tickets{
    width: 60%;
  }
  .icons-container{
    margin-top: 3rem;
  }
  .social-media-list{
    gap: 2rem;
    padding: 2rem;
  }
  .logo-instagram, .logo-tiktok,
  .logo-facebook, .logo-youtube{
    width: 2.7rem;
  }
  .contact-button-container {
    bottom: 14rem;
    left: -10px;
    padding: 2rem;
  }
  .contact-button{
    font-size: 1rem;
  }
  .contact-button-icon{
    width: 4rem;
    margin-bottom: 0.6rem;
  }
  .contact-icons{
    max-width: 2.5rem;
  }
  .social-buttons{
    top: -5.5rem;
    gap: 0.8rem;
    padding-left: 0.8rem;
  }
  .social-buttons a{
    margin-bottom: 0rem;
  }
  .scroll-up-button {
    bottom: 17rem;
    right: 1rem;
  }
  .scroll-arrow{
    margin-top: 3.2rem;
    margin-right: -2rem;
    font-size: 2rem;
  }
  .scroll-image{
    width: 6rem;
  }
  .footer {
    width: 100%;
    margin-top: 5rem;
  }
  .footer-content {
    flex-direction: column;
  }
  .footer__icons {
    font-size: 3rem;
  }
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    width: 100%;
  }
}
@media screen and (max-width: 340px){
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  .gallery__title {
    margin-top: 12rem;
  }
  .workWithUs-container {
    margin-top: 7rem;
  }
  .workWithUs-title {
    margin-bottom: -4rem;
  }
}
@media screen and (max-width: 323px){
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    width: 100%;
    padding: 1rem 1.5rem;
  }
}