*{
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
  --background-color: #024873;
  --title-color: #fff;
  --subtitle-color: #ffffff;
  --background-social-media: #0000003c;
}
body{
  background: linear-gradient(to bottom right, #024873 36%, #DC150A) !important;
}
/* NAVBAR */
.menu-logo {
  width: 4rem;
  margin-left: 10%;
  margin-right: 1rem;
}
.bg-body-tertiary.navbar {
  padding: 1rem;
}
.inicio-first-element {
  margin-left: 10rem !important;
}

.home-container{
  display: flex;
  height: 100vh;
}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.logo{
  filter: drop-shadow(0px 5px 15px rgba(225, 225, 225, 0.9));
  width: 200rem;
  margin-left: 8rem;
  padding: 2rem;
}
.home-information-text{
  text-align: center;
  margin-right: 6rem;
  margin-bottom: 20rem;
  width: 100%;
}
.home-title{
  margin: 0;
  color: var(--title-color);
  font-size: 9rem;
}
.home-subtitle{
  margin: 0;
  color: var(--subtitle-color);
  font-size: 4rem;
}
.social-media{
  display: flex;
  background-color: var(--background-social-media);
  width: 45rem;
  height: 13rem;
  border-radius: 2rem;
  box-shadow: 0px 5px 15px rgba(225, 225, 225, 0.9);
  position: absolute;
  right: 50rem;
  bottom: 35rem;
}
.social-media-list{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
  padding: 3rem;
  margin: 0 auto;
}
.social-media-list a{
  text-decoration: none;
  color: #fff;
}
.social-media-list li{
  display: flex;
  align-items: center;
}
.logo-instagram, .logo-tiktok,
.logo-facebook, .logo-youtube{
  width: 6rem;
  margin: 1rem;
  transition: transform 0.3s;
}
.logo-instagram:hover, .logo-tiktok:hover,
.logo-facebook:hover, .logo-youtube:hover{
  transform: scale(1.25);
}


/* HOME */
/*
.home-container{
  display: flex;
  width: 100vw;
  height: 100vh;
}
.logo-container {
  margin-left: 15rem;
  display: flex;
  justify-items: center;
  align-items: center;
}
.logo-container img{
  filter: drop-shadow(0px 5px 15px rgba(225, 225, 225, 0.9));
  width: 90rem;
}
/*
.home-information{
  width: 100%;
  display: grid;
  grid-template-rows: auto;
}
.home-information-text{
  margin: 5rem 5rem 0rem 5rem;
  padding: 30rem 8rem 0rem 8rem;
  font-size: 2rem;
}
.home-title{
color: var(--title-color);
font-size: 8rem;
}
.home-subtitle{
  color: var(--subtitle-color);
  font-size: 5rem;
}

/* SOCIAL MEDIA LIST*/
/*
.social-media{
  display: flex;
}
.social-media-list {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  width: 40rem;
  height: 5rem;
  list-style: none;
}
.social-media-list li{
  text-decoration: none;
}



/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/